####################################################
# CONFIGURATION FILE FOR RUNNING AUTOMATICALLY     #
# THE REDUCTION OF A CALIBRATION STAR WITH PyKOALA #
####################################################

date				20180227
grating				385R
pixel_size  			0.7  
kernel_size 			1.4
path		 		/DATA/KOALA/20180227/385R/

# Skyflat section -----------------------------------------------------

file_skyflat			combined_skyflat_red.fits						# RSS file with the skyflat
skyflat				skyflat_385R								# Python object with skyflat information

do_skyflat			False 

correct_ccd_defects 		True
fix_wavelengths         	True
#sol				[0.06038947169959769,-0.0010064562304288275,2.2712447657371968e-07]
rss_star_file_for_sol		27feb20028red.fits							# RSS file of a star to get the sol

plot				True

throughput_2D_file		throughput_2D_20180227_385R.fits					# Fits file where the 2D throughput will be saved
throughput_2D			throughput_2D_20180227_385R						# Python variable

# Calibration stars section -------------------------------

#CONFIG_FILE_path		./STARS/
#CONFIG_FILE			calibration_HD60753_red.config
#CONFIG_FILE			calibration_Hilt600_red.config

#abs_flux_scale			[1.075,1]

flux_calibration_file		flux_calibration_20180227_385R_0p7_1k40.dat
telluric_correction_file	telluric_correction_20180227_385R.dat


#object				HD60753r
#object				Hilt600r
